.table th, .table td { 
     border-top: none; 
}

.table>tbody>tr>th {
	border: 1px solid #ddd; 
}

.table>tbody>tr>td {
	border-top: none;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.btn {
	white-space: normal;
}

.row .center-block {
	float: none;
}

.post-date {
    color: #aaa;
    margin: 0
}

article header {
	margin-bottom: 10px;
}

.article-title {
	margin-top: 26px;
}

.article-title {
	margin-top: 0;
	margin-bottom: 0;
}

.homepage article {
	margin-bottom: 20px;
}

.homepage .tags {
	margin-left: 30px;
}

.homepage .tags small {
	margin-right: 6px;
	color: orange;
}

.projects {
	background-color: black;
	color: darkgray;
}

.projects article {
	margin-top: 50px;
}

.projects .content {
	margin-left: 25px;
}

.projects .content strong {
	color: lightgray;
}

.projects .screenshot {
	margin-bottom: 20px;
}

.projects .screenshot img {
	width: 100%;
}

.projects .description p:not(:last-child) {
	margin: 0;
}

.status {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.status-title {
	text-align: center;
}

.status-board .list {
	width: 25%;
	display: inline-table;
	border-top: 1px solid lightgray;
}

.status-board .list-header {
	padding: 10px 0;
	border-bottom: 1px solid lightgray;
	margin: 5px 0;
}

.list .cards {
	margin: 0 10px;
}

.cards .btn {
	margin-bottom: 5px;
	width: 100%;
}

#disqus_thread, .tags {
	margin-top: 30px;
}

#disqus_thread #discovery {
	display: none !important;
}

/* Google Search / Bootstrap Fixes */
#gs_tti50 {
	padding-top: 0;
}
.gsc-selected-option-container.gsc-inline-block {
	width: 68px !important;
	padding-left: 2px;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button 
{
  box-sizing: content-box;
  line-height: normal;
}

/* Helpers */
@media screen and (max-width: 768px) {
	.hide-on-mobile {		
		display: none;
	}
}